#st {
	height:50px;
	width:900px;
}
#titlep {
	padding:10px 15px;
	border: 1px solid #3385ff;
	resize:none;
	outline:medium;
	font-size:18px;
	float:left;
	margin:0 0 0 20px;
}
#sec {
	float:left;
	height:42px;
	font-size:18px;
	outline:medium;
	padding:0px 0px 0 15px;
}
.inps {
	padding:5px;
	text-align:center;
	border:none;
	font-size:17px;
	font-weight:bold;
	letter-spacing:1px;
	color:#fff;
	background-color: #3385ff;
	width:85px;
	height:36px;
	margin:20px 0 0 0;
}